<mat-card class="book-card">

  <!-- toString: become url to string -->
  <img mat-card-image [src]="book().coverUrl.toString()" alt="Cover of {{book().title}}">

  <mat-card-header>

    <mat-card-title> {{ book().title}}</mat-card-title>

  </mat-card-header>

  <mat-card-content>

    <p><strong>Author:</strong> {{ book().authorName }}</p>
    <p><strong>First Published:</strong> {{ book().firstPublishYear }}</p>
    <p><strong>Editions:</strong> {{ book().editionCount }}</p>

  </mat-card-content>

  <mat-card-actions>
    <!-- target="_blank" es obligatorio para un nuevo tab -->
    <!-- Igual que la portada, accedemos al string del Value Object -->
    <a mat-button color="primary" [href]="book().detailsUrl.toString()" target="_blank">
      Book Details
    </a>

  </mat-card-actions>


</mat-card>
